body {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  height: 100%;
  flex: none;
  background: #e6ecf0;
}

.container {
  width: auto;
  margin: 0 auto;
  flex: none;

}

.tweet-container {
  height: 100%;
  flex: none;

}

.tweets {
  list-style-type: none;
    margin: 55px auto 0 auto;
    padding: 0;
    width: 600px;
    

}
.tweets li{
  background: #fff;
    margin: 0 0 10px 0;
    box-shadow: 1px 3px 4px #dedede;
}
.tweets li .tweet {
  padding: 20px;
}

img {
  width: 100%;
  max-width:100%;
  border-radius: 5px;
  margin: 10px 0 0 0;
}
p{
  font-size: 14px;
    color: #464646;
}
a{
  color: #1DA1F2;
}
.active{
  color: #1DA1F2 !important;
  border-bottom: 2px solid #1DA1F2;
}